WSClient/xml-resources/web-service-references/WSChiarotti/wsdl/172.16.0.111_8080/WSBank/WSChiarotti.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.wsbank/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.wsbank/">

<xs:element name="correntista" type="tns:correntista"/>

<xs:element name="correntistaResponse" type="tns:correntistaResponse"/>

<xs:element name="ted" type="tns:ted"/>

<xs:element name="tedResponse" type="tns:tedResponse"/>

<xs:complexType name="ted">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="correntista">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="correntistaResponse">
<xs:sequence>
<xs:element name="return" type="tns:objectC" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectC">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>